%h1.h1.task-single-title
  ="#Task id: #{@task.id}"
-if @task
  .task-single-view
    %div{:class => 'task'+task_class_current_status(@task.finished).to_s}
      .task-content
        =@task[:content]
      .task-options
        =link_to edit_board_task_path(:board_id => @board.id, :id => @task.id), :class=>'btn edit-task' do
          %i.fa.fa-wrench
          Edit
        =link_to board_task_path(:board_id => @board.id, :id => @task.id), method: :delete, :class=>'btn delete-task' do
          %i.fa.fa-trash
          Delete
      %div{:class => 'mark-task'+task_class_mark_current_status(@task.finished).to_s}
        =link_to board_task_mark_finished_path(:board_id => @board.id, :task_id => @task.id, :mark => 'finished'), :method => :post, :class=>'btn link-normal' do
          %i.fa.fa-square-o.normal
          Mark as finished
        =link_to board_task_mark_finished_path(:board_id => @board.id, :task_id => @task.id, :mark => 'unfinished'), :method => :post, :class=>'btn link-marked' do
          %i.fa.fa-check-square-o.checked
          Task finished
      .comment-container
        -if @task.comments
          %h2='Comments'
          %ul.comments
            -@task.comments.each do |comment|
              %li.comment
                =comment.content
                =link_to board_task_comment_path(:task_id => @task.id, :id => comment), method: :delete, :class=>'btn delete-comment' do
                  %i.fa.fa-trash
                  Delete
        = render 'partials/errors', :flash_obj => flash[:errors]
        .form-comment.form-sI
          =form_for :comment, :url => board_task_comments_path(:task_id => @task.id), :html => {:class => 'form-g'} do |f|
            .form-i
              = f.label :content
              = f.text_field :content
            .form-i
              = f.submit 'Add Comment'